# Weather Impacts on US Corn Prices

This study focuses on the relationship between weather and corn prices in US.

In [17]:
import pandas as pd

TO-DO: incorporate Prayus' data scrapping section here

TO-DO: add description of these two data sets. meaning of each column?

In [32]:
# read the weather data CSV file
weather_data = pd.read_csv('../data/weather_data.csv')
weather_data.head()

,Unnamed: 0,time,temperature_2m_max,temperature_2m_min,temperature_2m_mean,precipitation_sum
0,0,2000-03-24,12.6,-6.6,5.7,0.0
1,1,2000-03-25,15.0,-1.0,8.7,0.0
2,2,2000-03-26,18.7,2.4,11.2,0.0
3,3,2000-03-27,22.9,1.5,14.8,0.0
4,4,2000-03-28,22.8,7.2,14.8,0.0

In [34]:
weather_data = weather_data[['time','temperature_2m_mean','precipitation_sum']]
weather_data = weather_data.set_index('time')
weather_data.head()

            temperature_2m_mean  precipitation_sum
time
2000-03-24                  5.7                0.0
2000-03-25                  8.7                0.0
2000-03-26                 11.2                0.0
2000-03-27                 14.8                0.0
2000-03-28                 14.8                0.0

In [39]:
# read the corn price data CSV file
corn_data = pd.read_csv('../data/corn_data.csv', index_col = 0)
corn_data.head()

             open   close    high     low
2023-04-14  626.0  636.75  637.50  623.00
2023-04-13  656.0  652.25  661.75  651.50
2023-04-12  651.0  656.00  658.50  648.75
2023-04-11  653.5  651.00  657.75  646.75
2023-04-10  644.5  654.00  655.00  640.25

In [42]:
corn_data['avg_price'] = (corn_data['high'] + corn_data['low'])/2
corn_data = corn_data[['avg_price']]
corn_data.head()

            avg_price
2023-04-14    630.250
2023-04-13    656.625
2023-04-12    653.625
2023-04-11    652.250
2023-04-10    647.625

In [45]:
# Drop duplicates from weather_data
weather_data = weather_data.drop_duplicates()
# Drop missing values from corn_data
corn_data = corn_data.dropna()
# Sort the index for corn_data
corn_data = corn_data.sort_index()
corn_data.head()

            avg_price
2018-04-17    382.125
2018-04-18    381.750
2018-04-19    382.125
2018-04-20    379.000
2018-04-23    377.750